@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400&family=Inter:wght@100;300;400;600&family=Jacques+Francois&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jacques Francois', serif;
}
body{
    background: #ECE0D1;
}

body, html{
    overflow-x: hidden;
}

.nav{
    position: relative;
    display: grid;
    grid-template-columns: 13% 64% 23%;
    margin-top: 15px;
    align-items: center;
}
.text-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.list{
    display: flex;
    margin-right: 40px;
}
.list li a::after {
    content: "";
    position: absolute;
    transition: width 0.3s ease;
    height: 3px;
    width: 0%;
    bottom: 0;
    left: 0;
    background: #967259;
    z-index: -1;
}
.list li a:hover{
    color: #634832;
}
.list li a:hover::after{ 
    width: 100%;
}
.list li{
    list-style: none;
}
.list li a{
    text-decoration: none;
    padding: 5px;
    margin: 5px 40px;
    font-size: 17px;
    color: #38220F;
    position: relative;
    transition: color 0.3s ease;
}
.logo{
    display: flex;
    justify-content: flex-end;
}
.logo img{
    width: 120px;
}
.search-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: -400px;
}
.outer-search{
    width: 202px;
    height: 40px;
    background: #634832;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-icon-container{
    display: none;
}

.search-icon img{
    width: 21px;
    margin-left: 10px;
    margin-top: 5px;
}
.search{
    width: 200px;
    height: 38px;
    background: #634832;
    border-radius: 19px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition:  0.1s;
}
.search:hover{
    border: 1px solid white;
}

.search-text{
    margin: 5px 10px;
}
.search-text input{
    background: #634832;
    outline: none;
    border: none;
    color: white;
    width: 130px;
    height: 30px;
    font-size: 17px;
}

.location-icon{
    margin-right: 0px;
    margin-left: 25px;
}

.location-icon img{
    width: 20px;
    margin-top: 3px;
    margin-right: 50px;
    transition: 0.3s;
    cursor: alias;
}
.location-icon img:hover{
    width: 22px;
    opacity: .9;
}

.hamburger{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.hamburger .bar{
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #634832;
    transform: all 0.3s;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-items{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
@media (max-width: 1024px){
}
@media (max-width: 768px) {
    .navbar .logo, .hamburger{
        transition: transform 0.6s ease, opacity 0.6s ease;
    }
    
    .navbar {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }

    .navbar .logo.slide-out{
        transform: translateY(-50px);
        opacity: 0;
    }

    .navbar .logo.slide-in{
        transform: translateY(0);
        opacity: 1;
    }

    .navbar .hamburger.slide-out{
        transform: translateX(50px);
        opacity: 0;
    }

    .navbar .hamburger.slide-in{
        transition: transform 0.6s ease;
    }

    .logo{
        flex: 1;
        padding-left: 10px;
        left: 0px;
    }

    .logo.top {
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        padding-left: 0px;
    }

    .navbar-items {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform: translateY(-100%);
        opacity: 0;
    }

    .navbar-items.show {
        display: flex;
        animation: expand-navbar 0.3s ease;
        margin-top: 130px;
        width: 100%;
        opacity: 1;
        transform: translateY(0);
    }

    .navbar-items.hide{
        opacity: 0;
        transform: translateY(-100%);
    }

    .navbar-items .text-menu .list {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .navbar-items .text-menu .list li {
        margin: 10px 0;
    }

    .search-icon-container, .location-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .hamburger {
        display: block;
        right: 0px;
        margin-right: 30px;
    }

    .hamburger.hidden{
        display: none;
    }

    .navbar-right{
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-bar{
        display: none;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        transition: opacity 0.3s ease, transform 0.3s ease;
        opacity: 0;
        transform: translateY(-20px);
    }

    .search-bar.show{
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    .search-icon-container{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #392210;
        margin-right: 25px;
    }

    .search-icon-container.active{
        padding: 7.5px;
        background-color: #392210;
        border-radius: 50%;
    }

    .search-icon-container.active i{
        color: #ECE0D1;
    }

    .location-icon{
        margin-right: 0;
        margin-left: 25;
    }

    .location-icon img{
        margin-top: 0;
        margin-right: 0;
    }


}


.text-menu.show, .search-bar.show, .location-icon.show{
    display: flex;
    animation: expand-navbar 0.3s ease;
}

@keyframes expand-navbar{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* reader section starts */

.reader{
    margin-top: 50px;
    background-image: url('./images/Rectangle7.png') ;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 674px;
    justify-content: center;
    align-items: center;
    z-index: -1;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 7% 86% 7%;
}
.rectangle-2{
    margin-top: 100px;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 50% 50%;
}
.reader .text-area{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.reader .text-area-2{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 30px;
}
.reader .text-area-2 h2{
    font-size: 48px;
    color: #fff;
    font-weight: 400;
    margin-left: 30px;
}
.reader .text-area-2 h1{
    font-size: 64px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 84px;
}
.reader .text-area-2 p{
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}
.price-button{
    display: flex;
    margin-top: 60px;
}
.price-button .price{
    font-size: 40px;
    color: #fff;
    font-family: 'Inria Serif', serif;
}
.price-button .brew-button{
    background: #ECE0D1;
    width: 160px;
    height: 45px;
    border-radius: 23px;
    margin-left: 45px;
    cursor: pointer;
    transition: .3s;
}
.price-button .brew-button:hover {
    background: #38220F;
    outline: 1px solid #ECE0D1;
}
.price-button .brew-button:hover .brew{
    color: #fff;
}
.price-button .brew-button p{
    font-size: 32px;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-weight: 400;
    color: #38220F;
}
.brew-button{
    text-decoration: none;
}
.reader .image-area{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
}
.image-1 .img-1{
    width: 52px;
    margin-bottom: 100px;
    margin-right: 70px;
}
.image-1 .img-2{
    width: 600px;
    border: 20px solid #ECE0D1;
    opacity: .85;
}

@media (max-width: 1024px){
}

@media (max-width: 768px) {
    .reader {
        margin-top: 0;
        width: 100%;
        height: auto;
        background-size: 100% 100%;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .rectangle-2 {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        gap: 20px;
    }

    .reader .text-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: scale(0.9);
        margin-top: 200px;
    }

    .reader .text-area-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 30px;
        text-align: center;
    }

    .reader .text-area-2 h2, 
    .reader .text-area-2 h1, 
    .reader .text-area-2 p {
        margin: 0;
        color:#634832;
        transform: scale(0.8);
    }

    .price-button {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .price-button .price {
        font-size: 24px;
        color:#634832;
    }

    .price-button .brew-button {
        width: 140px;
        height: 40px;
        margin-left: 0;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
    }

    .price-button .brew-button p {
        align-items: center;
    }

    .reader .image-area {
        justify-content: center;
        align-items: center;
        transform: scale(0.8);
        margin-top: -80px;
        margin-bottom: 40px;
    }

    .image-1 .img-2 {
        border: 10px solid #ECE0D1;
    }
}


@media (max-width: 480px){
    .reader .text-area{
        transform: scale(0.7);
        margin-bottom: -90px;
        margin-top: 110px;
    }

    .reader .text-area-2{
        margin-bottom: 0;
    }

    .price-button .price {
        color: white;
    }

    .reader .text-area-2 .line{
        color:white;
    }

    .reader .image-area {
        margin-top: -90px;
        margin-bottom: -50px;
        justify-content: center;
        align-items: center;
        transform: scale(0.5);
    }
}

/* reader-2  */

.reader-2{
    display: grid;
    grid-template-columns: 10% 20% 60% 10%;
    margin-bottom: 100px;
}
.reader-2-image{
    grid-column-start: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.reader-2-image img{
    width: 398px;
}
.reader-2-text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.reader-2-text-area{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 90px;
}
.reader-2-text-area h2{
    font-size: 48px;
    color:#634832;
    font-weight: 400;
    margin-bottom: 20px;
    
}
.reader-2-text-area h1{
    font-size: 48px;
    color:#38220F;
    font-weight: 400;
    line-height: 63px;
}
.reader-2-text-area p{
    font-size: 20px;
    color: #967259;
    font-weight: 400;
    margin-bottom: 30px;
}
.line{
    width: 480px;
}
.reader-2-text-price-button{
    display: flex;
    margin-top: 20px;
}
.reader-2-text-price-button .price{
    font-size: 40px;
    color:#38220F;
    font-family: 'Inria Serif', serif;
}
.reader-2-text-price-button .brew-button{
    background: #38220F;
    width: 160px;
    height: 45px;
    border-radius: 23px;
    margin-left: 45px;
    cursor: pointer;
    transition: .3s;
}
.reader-2-text-price-button .brew-button:hover {
    background:#ECE0D1;
    outline: 2px solid #38220F;
}
.reader-2-text-price-button .brew-button:hover .brew{
    color:#38220F;
    margin-bottom: 5px;
}
.reader-2-text-price-button .brew-button p{
    font-size: 32px;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-weight: 400;
}
@media (max-width: 768px){
    .reader-2{
        display: flex;
        margin-bottom: 0px;
    }
    .reader-2-image img{
        transform: scale(0.8);
        transform-origin: left;
    }
    .reader-2-text{
        max-width: 50%;
        transform: scale(0.8);
    }

    .reader-2-text-price-button .brew-button{
    }
}

@media (max-width: 480px){
    .reader-2{
        display: flex;
        flex-direction: column;
        background-color: #ECE0D1;
    }
    .reader-2-image{
        grid-column-start: 1;
        display: block;
        justify-content: center;
        align-items: center;
        margin-bottom: -100px;
        margin-top: -70px;
        margin-left: 20px;
        margin-right: -50px;
    }
    .reader-2-image img{
        width: 100%;
        margin-bottom: 0px;
    }
    .reader-2-text{
        margin-top: -70px;
        transform: scale(0.7);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-left: -10px;
    }

    .reader-2-text h2{
        width: 100%;
    }

    .reader-2-text-price-button .brew-button{
        margin-right: 40px;
        margin-top: 6%;
    }
}

hr{
    border: 1px solid #38220F;
    margin-top: 10px;
}

/* reader-3 */

.reader-3{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.heading h1{
    font-size: 48px;
    font-weight: 400;
    color: #38220F;
}
.heading p{
    font-size: 30px;
    font-weight: 400;
    width: 450px;
    text-align: center;
    color: #634832;
}
.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    justify-items: center;
}
.menu-1, .menu-2, .menu-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.inner-menu-1, .inner-menu-2,.inner-menu-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 345px;
    height: 500px;
    box-shadow: 0px 4px 45px 1px rgba(99, 72, 50, 0.23);
    transition: all 0.3s ease-in-out;
}
.inner-menu-1 h1, .inner-menu-2 h1, .inner-menu-3 h1{
    text-align: center;
    color:#38220F;
    font-size: 30px;
    font-weight: 400;
}
.line-2{
    text-align: center;
    color: #967259;
    font-size: 20px;
    margin-bottom: 35px;
    margin-top: 10px;
    width: 250px;
}
.menu-button{
    display: flex;
}
.menu-button .price{
    font-size: 40px;
    color:#38220F;
    font-family: 'Inria Serif', serif;
}
.menu-button .brew-button{
    background: #38220F;
    width: 160px;
    height: 45px;
    border-radius: 23px;
    margin-left: 34px;
    cursor: pointer;
    transition: .3s;
}
.menu-button .brew-button:hover {
    background:#ECE0D1;
    outline: 2px solid #38220F;
}
.menu-button .brew-button:hover .brew{
    color:#38220F;
    margin-bottom: 5px;
}
.menu-button .brew-button p{
    font-size: 32px;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-weight: 400;
}
.menu-1 img{
    width: 119px;
    height: 207px;
    margin-top: 22px;
    margin-bottom: 16px;
}
.menu-3 img{
    width: 172px;
    height: 201px;
    margin-top: 45px;
}
.menu-2 img{
    width: 113px;
    height: 219px;
    margin-top: 16px;
    margin-bottom: 11px;
}
@media (max-width: 768px) {
    .menu {
        grid-template-columns: 1fr 1fr;
    }

    .menu-3 {
        grid-column-start: 1;
        margin-top: 20px;
    }

    .inner-menu-1, .inner-menu-2, .inner-menu-3 {
        width: 280px;
    }
    .reader-3 .menu .menu-button{
        transform: scale(0.8);
    }
}

@media (max-width: 480px) {
    .reader-3{
        background-color: white;
    }
    .heading{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .heading h1, p{
        transform: scale(0.9);
    }
    .menu {
        grid-template-columns: 1fr;*/
        transform: scale(0.9);
        max-width: 95%;
    }
    .menu-3{
        margin-top: 0;
    }

    .inner-menu-1, .inner-menu-2, .inner-menu-3 {
        width: 100%;
        height: auto;
    }
}


/* reader-4 */
.reader-4{
    margin-top: 100px;
}
.reader-4-rectangle{
    display: grid;
    grid-template-columns: 60% 40%;
    background: linear-gradient(97.48deg, #967259 -2.24%, rgba(150, 114, 89, 0) 136.84%);
    height: 520px;
    padding: 5px;
}
.reader-4 .reader-4-text-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.reader-4 .reader-4-text-area h3{
    font-size: 32px;
    margin-bottom: 25px;
    color: #fff;
}
.reader-4 .reader-4-text-area .reader-4-line{
    width: 580px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin-bottom: 39px;
}
.learn{
    font-size: 32px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-weight: 400;
    color: #38220F;
}
.reader-4 .reader-4-button{
    background: #ECE0D1;
    width: 160px;
    height: 45px;
    border-radius: 23px;
    outline: 1px solid #38220F;
    cursor: pointer;
    transition: .3s;
}
.reader-4 .reader-4-button:hover {
    background:#38220F;
    transform: translateY(-5px);
    box-shadow: 1px 0px 10px 0px;
}
.reader-4 .reader-4-button:hover .learn{
    color:#fff;
    margin-bottom: 5px;
    opacity: .9;
}
.reader-4 .reader-4-image-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reader-4 .reader-4-image-area img{
    height: 402px;
    border: 20px solid #DBC1AC;
    opacity: .85;
    transition: all 0.3s ease-in-out;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .reader-4-rectangle {
        grid-template-columns: 100%;
        height: auto;
    }

    .reader-4 .reader-4-text-area{
        margin-top: 20px;
    }
    .reader-4 .reader-4-text-area,
    .reader-4 .reader-4-image-area{
        padding-left: 10px;
        padding-right: 10px;
    }

    .reader-4 .reader-4-image-area{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .reader-4 .reader-4-image-area img{
        height: 250px;
        border: 10px solid #DBC1AC;
    }
}

@media screen and (max-width: 480px) {
    .reader-4 .reader-4-image-area img{
        height: 180px;
        border: 5px solid #DBC1AC;
    }

    .reader-4 .reader-4-text-area h3 {
        font-size: 24px;
    }

    .reader-4 .reader-4-text-area .reader-4-line {
        font-size: 18px;
        width: 100%;
    }

    .reader-4 .reader-4-button {
        width: 140px;
    }

    .reader-4-image-area{
        margin-bottom: 10px;
        margin-top: 10px;
    }
}







/* reader-5 */
.section-reader-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
}
.section-reader-5-heading h1 {
    font-size: 48px;
    color: #38220F;
    font-weight: 400;
    text-align: center;
}
.section-reader-5-heading p {
    font-size: 30px;
    color: #634832;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.section-reader-5-rectangle {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-top: 70px;
    gap: 20px;
}
.section-reader-5-rectangle .image-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-reader-5-rectangle .text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-reader-5-rectangle .text-area h2 {
    font-size: 32px;
    color: #634832;
    font-weight: 400;
    margin-bottom: 7px;
}
.section-reader-5-line {
    width: 100%;
    max-width: 410px;
    font-size: 24px;
    color: #967259;
    margin-bottom: 35px;
}
.section-reader-5 .button {
    background: #ECE0D1;
    width: 160px;
    height: 45px;
    border-radius: 23px;
    outline: 1px solid #38220F;
    cursor: pointer;
    transition: .3s;
    background: #38220F;
}
.section-reader-5 .button:hover {
    background: #ECE0D1;
    transform: translateY(-5px);
    box-shadow: 1px 0px 10px 0px;
    outline: 1px solid #ECE0D1;
}
.section-reader-5 .button:hover .pick {
    color: #38220F;
    margin-bottom: 5px;
    opacity: .9;
}
.pick {
    color: #ECE0D1;
    font-size: 32px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-weight: 400;
}
.section-reader-5 img {
    border: 15px solid #D6C2B3;
    height: 325px;
    max-width: 100%;
}

@media (max-width: 768px) {
    .section-reader-5-rectangle {
        gap: 10px;
    }
    .section-reader-5-heading h1 {
        font-size: 40px;
    }
    .section-reader-5-heading p {
        font-size: 24px;
    }
    .section-reader-5-rectangle .text-area{
        transform: scale(0.8);
    }
    .section-reader-5 img {
        height: 275px;
    }
}

@media (max-width: 480px) {
    .section-reader-5{
        background-color: #ECE0D1;
    }
    
    .section-reader-5-rectangle {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .section-reader-5-heading h1 {
        font-size: 36px;
    }
    .section-reader-5-heading p {
        font-size: 20px;
    }

    .section-reader-5-rectangle-1 .text-area{
        margin-top: -20px;
    }

    .section-reader-5-rectangle-2 .text-area{
        margin-top: -80px;
    }

    .section-reader-5-rectangle-2 .image-area{
        margin-top: 0;
    }
}


 
/* reader-6  */
.reader-6{
    margin-top: 100px;
}
.reader-6-rectangle{
    display: grid;
    grid-template-columns: 45% 55%;
    background: linear-gradient(96.18deg, #DBC1AC 0%, rgba(219, 193, 172, 0) 100%);
    min-height: 520px;
}
.reader-6-rectangle .text-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reader-6-rectangle .text-area h3{
    font-size: 32px;
    margin-bottom: 16px;
    color: #634832;
    font-weight: 400;
}
.reader-6 .text-area .reader-6-line{
    width: 430px;
    text-align: center;
    font-size: 24px;
    color: #967259;
    margin-bottom: 50px;
}
.reader-6-rectangle .learn{
    font-size: 32px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-weight: 400;
    color: #38220F;
}
.reader-6 .button{
    background: #ECE0D1;
    width: 170px;
    height: 45px;
    border-radius: 23px;
    outline: 1px solid #38220F;
    cursor: pointer;
    transition: .3s;
}
.reader-6 .button:hover {
    background:#38220F;
    transform: translateY(-5px);
    box-shadow: 1px 0px 10px 0px;
}
.reader-6 .button:hover .learn{
    color:#fff;
    margin-bottom: 5px;
    opacity: .9;
}
.reader-6 .image-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reader-6 .image-area img{
    height: 402px;
    border: 20px solid #DBC1AC;
    opacity: .85;
}
@media (max-width: 768px){
    .reader-6-rectangle{
        display: flex;
    }

    .reader-6-rectangle .image-area, .reader-6-rectangle .text-area{
        max-width: 50%;
    }

    .reader-6-rectangle .image-area{
        transform: scale(0.5);
    }

    .reader-6-rectangle .text-area{
        transform: scale(0.7);
    }

    .section-reader-5-heading{
        margin-top: -50px;
    }

    .section-reader-5-rectangle-1 .image-area{
        margin-top: -80px;
    }

    .section-reader-5-rectangle-2 .image-area{
        margin-bottom: 20px;
    }
}

@media (max-width: 480px){
    .reader-6{
        margin-top: 0;
    }
    .reader-6-rectangle{
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        align-items: center;
    }
    .reader-6-rectangle .image-area, .reader-6-rectangle .text-area{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .reader-6-rectangle .image-area{
        width: 100%;
        margin-bottom: -160px;
        margin-top: -90px;
    }
    .reader-6-rectangle .text-area{
        width: 100%;
    }
    .reader-6-rectangle .reader-6-line{
        margin-bottom: 10;
    }
}


/* reader-7 */
.reader-7{
    margin-top: 100px;
}

.reader-7-rectangle{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 520px;
}

.reader-7 .text-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reader-7 .text-area h3{
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #38220F;
}

.reader-7 .text-area .reader-7-line{
    width: 387px;
    text-align: center;
    font-size: 32px;
    color: #634832;
    margin-bottom: 29px;
    margin-left: 80px;
}

.reader-7 .text-area .delivery-charge{
    text-align: center;
    font-size: 18px;
    color: #634832;
}

.reader-7 .button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ECE0D1;
    width: 160px;
    height: 45px;
    border-radius: 23px;
    outline: 1px solid #38220F;
    cursor: pointer;
    transition: .3s;
    text-align: center;
}


.reader-7 .button:hover {
    background:#38220F;
    transform: translateY(-5px);
    box-shadow: 1px 0px 10px 0px;
}

.reader-7 .button:hover .learn{
    color:#fff;
    margin-bottom: 5px;
    opacity: .9;
}

.reader-7-line-2{
    margin-top: 10px;
    margin-right: 50px;
}

.reader-7 .image-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reader-7 .image-area img{
    height: 402px;
    opacity: .85;
}

@media (max-width: 1200px) {
    .reader-7-rectangle{
        grid-template-columns: 60% 40%;
    }

    .reader-7 .text-area .reader-7-line{
        margin-left: 50px;
    }

    .reader-7 .image-area img{
        height: 350px;
    }
}

@media (max-width: 768px) {
    .reader-7-rectangle{
        grid-template-columns: 100%;
        height: auto;
    }

    .reader-7 .image-area img{
        height: 250px;
    }

    .reader-7 .text-area h3{
        font-size: 32px;
    }

    .reader-7 .text-area .reader-7-line{
        font-size: 24px;
        width: 80%;
        margin-left: 0;
    }

    .reader-7 .button{
        width: 140px;
        height: 40px;
    }

    .reader-7 .text-area .delivery-charge{
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .reader-7-rectangle{
        margin-top: -80px;
    }
    .reader-7 .text-area h3{
        font-size: 28px;
    }

    .reader-7 .text-area .reader-7-line{
        font-size: 20px;
        width: 90%;
        margin-left: 0;
    }

    .reader-7 .button{
        width: 120px;
        height: 35px;
    }

    .reader-7 .text-area .delivery-charge{
        font-size: 14px;
    }

    .reader-7 .image-area{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
}


/* footer  */
footer{
    background: #634832;
}
footer span{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    opacity: .7;
    margin-bottom: 40px;
    cursor:pointer;
    transition: .2s;
}
footer span:hover{
    opacity: 1;
}
.foot{
    display: grid;
    grid-template-columns: 10% repeat(5, 1fr) ;
    color: #fff;
}

.foot-content{
    display: flex;
    flex-direction: column;
}

.about{
    grid-column-start: 2;
}
.about, .order, .location, .social{
    display: flex;
    flex-direction: column;
}
.about span, .order span, .location span, .social span{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: 50px;;
    opacity: 1;
}

.about a, .order a, .location a, .social a{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    margin-bottom: 10px;
    color: #ffffff9d;
}
.language{
    display: flex;
    flex-direction: column;
}
.language span{
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: 400;
    margin-top: 50px;
    opacity: 1;
}
.language-picker select, .language-picker option{
    font-family: 'Inter', sans-serif;
}



@media(max-width: 768px){
    .about, .order, .location, .social, .language{
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
}

@media(max-width: 480px){
    footer .foot{
        grid-template-columns: 1fr;
        padding: 0 10px;
    }

    .about{
        grid-column-start: 1;
    }
    
    .about, .order, .location, .social, .language{
        width: 100%;
        margin-bottom: 10px;
    }

    .about span, .order span, .location span, .social span, .language span{
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .about span{
        margin-top: 50px;
    }

    .language span{
        margin-bottom: 10px;
    }
    .about a, .order a, .location a, .social a{
        font-size: 18px;
        margin-bottom: 8px;
    }

    .language-picker{
        margin-bottom: 55px;
    }

    .language-picker select{
        width: 100%;
    }

    .about-content, .order-content, .location-content, .social-content{
        display: none;
    }
}